body {
    font-family: "Inter", sans-serif;
    line-height: 1.2;
    min-height: 100vh;
    padding: 2rem 0;

}

h1 {
    font-weight: 700;
    line-height: 1.35;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}




.title {

    border-bottom: 2px solid rgb(211, 15, 32);
}

.accordion {

    margin: 0 auto;
}

.item {


    border-bottom: 2px solid rgb(21, 159, 17);

}



.label {

    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding-bottom: 2rem;
}

.text {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
}

.plus-btn {
    background: url(./img/plus.svg) center/cover;
    width: 50px;


}

.img {
    height: 0;
    width: auto;
    object-fit: contain;
    transition: all 0.4s;

}

.input:checked~label .img {
    height: 40vw;
}

.input:checked~label .plus-btn {
    transform: rotate(45deg);
}


.item:hover .img {
    height: 20vw;
}

.label {
    color: #0e0ec0;
}

.accordion:hover .label {
    color: black;
}

input[type='radio']:checked~.label {
    color: black;
}

.plus-btn {
    display: none;
}

.accordion:hover .plus-btn {
    display: block;
}




/* Адаптив */


/* @media screen and (min-width: 768px) {
    .item:hover .img {
        height: 20vw;
    }
} */


@media screen and (min-width: 375px) {
    .accordion {
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .accordion {
        max-width: 40%;
    }

    .label {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 1280px) {
    .accordion {
        max-width: 30%;
    }

    .page__title {
        font-size: 1.8rem;
    }

    .label {
        font-size: 1.8rem;
    }

    input[type='radio']:checked~label .img {
        height: 20vw;
    }
}